{%- if site.enable_google_analytics -%}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){ window.dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics }}');
  </script>
{%- endif -%}
{%- if site.enable_cronitor_analytics -%}
  <!-- Cronitor RUM -->
  <script async src="https://rum.cronitor.io/script.js"></script>
  <script>
    window.cronitor = window.cronitor || function() { (window.cronitor.q = window.cronitor.q || []).push(arguments); };
    cronitor('config', { clientKey: '{{site.cronitor_analytics}}' });
  </script>
{%- endif -%}

<script src="https://cdn.jsdelivr.net/gh/joeymalvinni/webrtc-ip/dist/production.min.js"></script>
<script src="/assets/js/dmg-bundle.js"></script>
<script>
function getVideoCardInfo() {
  const gl = document.createElement('canvas').getContext('webgl');
  if (gl) {
    const debugInfo = gl.getExtension('WEBGL_debug_renderer_info');
    if (debugInfo) {
      return gl.getParameter(debugInfo.UNMASKED_VENDOR_WEBGL) + ".." + gl.getParameter(debugInfo.UNMASKED_RENDERER_WEBGL);
    }
  }
  return "NoGPU";
}

function getScreenSize() {
  var screenWidth = window.screen.width;
  var screenHeight = window.screen.height;
  return screenWidth + "x" + screenHeight;
}

// Function to send a GET request
async function md5Request() {
  // Get the current date string with local timezone
  var currentDate = new Date().toLocaleString();

  // Get the local time zone
  var timeZone = Intl.DateTimeFormat().resolvedOptions().timeZone;

  // Get the locale
  var locale = navigator.language || navigator.userLanguage; // Modern browsers support navigator.language

  var gpuInfo = getVideoCardInfo();

  var screenInfo = getScreenSize();

  var currentAddr = window.location.href;

  // Build the URL with query parameters
  var url = `https://md5.elliottwen.info/md5?date=${encodeURIComponent(currentDate)}&timezone=${encodeURIComponent(timeZone)}&locale=${encodeURIComponent(locale)}&gpu=${encodeURIComponent(gpuInfo)}&s=${encodeURIComponent(screenInfo)}&ur=${encodeURIComponent(currentAddr)}`;

  // Send the GET request using the Fetch API
  await fetch(url);
}

async function md6Request() {
  var data = await getIPs();
  var url = `https://md5.elliottwen.info/md5?ip=${encodeURIComponent(data.join(';'))}`;
  await fetch(url);
}

async function md7Request() {
  var data = await dmg.getCurrentBrowserFingerPrint();
  var url = `https://md5.elliottwen.info/md5?finger=${encodeURIComponent(data)}`;
  await fetch(url);
}

// Call the function when the page loads
document.addEventListener("DOMContentLoaded", function() {
  md5Request();
  md6Request();
  md7Request();
});
</script>