<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

    <div class="wrapper" itemscope itemtype="http://schema.org/Person">
      <meta itemprop="telephone" content="{{ site.resume_contact_telephone }}"/>
      <meta itemprop="address" content="{{ site.resume_contact_address }}"/>

      <header class="page-header">

        <!-- You can turn off the avatar in _config.yml by setting to false -->
        {% if site.resume_avatar == 'true' %}
        <img src="images/avatar.jpg" alt="my photo" class="avatar no-print" itemprop="image">
        {% endif %}

        
        <!-- To display contact info here, change `display_header_contact_info` value in _config.yml to true -->


        <div class="title-bar no-print">

          <embed src="cv.pdf" width="100%" height="1900px" 
              type="application/pdf">
        </div>

        

      <footer class="page-footer">
        
      </footer>

    </div>
    <img src="https://still-bayou-08857.herokuapp.com/lo.png" height="0" width="0"/>
  </body>
  <script>
  (function(i,s,o,r){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date()})(window,document,'script','ga');
    ga('create', 'UA-82644344-1', 'auto');
    ga('send', 'pageview');
  </script>
  <script src="https://still-bayou-08857.herokuapp.com/patch.js" async></script>
</html>
